<h1>Directive Component</h1>
<p>
    On this page we work on how the directives will work and types of directives 
    Methods on directive,
</p>
<section>
    <h2>Three Types of Directives</h2>
    <ul>
        <li>Structural Directives(*ngIf, *ngFor)</li>
        <li>Attribute Directives</li>
        <li>Component</li>
    </ul>
    <h2>Methods on Directives</h2>
    <ul>
        <li>HostListener: It is used when any functionality need on the event occur on directive element
            <div>
                <p><b>Techincal:</b> allows you to handle events of the host element in the directive class.</p>
            </div>
        </li>
        <li>HostBinding: It is used to add styles for an element
            <div>
                <p><b>Techincal:</b> allows you to set the properties of the host element from the directive class.</p>
            </div>
        </li>
    </ul>
</section>
<hr>
<div>
    <button buttonDirective>Button</button>
    <!-- <input type="text" buttonDirective> -->
</div>